[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "external/symbolic-integers"]
	path = external/symbolic-integers
	url = git@github.com:Metadiff/symbolic-integers.git
